
/*------------------------
---------BUTTONS----------
------------------------*/

.button {
  border: 2px solid $white;
  border-radius: 30px;
  padding: 1em;
  margin: 1em;
}

.buttonClear {
  background-color: transparent;

    &:hover {
      background-color: $pink;
      border: 2px solid $pink;
      color: $black;
    }
}

/*------------------------
---------IMG/ICON---------
------------------------*/

.contain {
  background-size: contain;
}

.cover {
  background-size: cover;
}

.nrc {
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  background-image: url("../img/logo.png");
}

.logoMain {
  height: 40px;
  width: 195px;
}

.icon {
  height: 20px;
  width: 20px;
}

.iconSB {
  margin: 4em 1.5em;
}

.fb {
  background-image: url("../img/fb.png");
}

.tw {
  background-image: url("../img/tw.png");
}

.ig {
  background-image: url("../img/ig.png");
}

.footSocLi {
  margin-right: 2em;

    &:last-child {
      margin-right: 0;
    }
}

/*------------------------
-------SITE-ELEMENTS------
------------------------*/

body {
  font-size: 1em;
  height: 100%;
  line-height: 1.5em;
  overflow-x: hidden;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 4.326em;
}

h2 {
  font-size: 2.618em;
}

h3 {
  font-size: 1.618em;
}


/*------------------------
-------FONTS--------------
------------------------*/

.font1 {
  font-size: 4.236em;
}

.font2 {
  font-size: 2.618em;
}

.font3 {
  font-size: 1.618em;
}

.font4 {
  font-size: 1em;
}

.font5 {
  font-size: .75em;
}

.font6 {
  font-size: .5em;
}

.fontHead {
  font-family: $header;
}

.fontBody {
  font-family: $body;
}

.fontWhite {
  color: $white;
}

.fontBlack {
  color: $black;
}

.fontLtGrey {
  color: $lt-grey;
}

.fontGrey {
  color: $grey;
}

.fontPink {
  color: $pink;
}

.fontUpper {
  text-transform: uppercase;
}

.fontLower {
  text-transform: lowercase;
}

.bold {
  font-weight: bolder;
}

.light {
  font-weight: lighter;
}

.alignRight {
  text-align: right;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.textBreak {
  margin-bottom: 2em;
}

/*------------------------
------------BG-----------
------------------------*/

.bgWhite {
  background: $white;
}

.bgBlack {
  background: $black;
}

.bgLtGrey {
  background: $lt-grey;
}

.bgGrey {
  background: $grey;
}

.bgPink {
  background: $pink;
}

/*------------------------
---------OPACITY----------
------------------------*/

.op9 {
  opacity: .9;
}

.op8 {
  opacity: .8;
}

.op7 {
  opacity: .7;
}

.op6 {
  opacity: .6;
}

.op5 {
  opacity: .5;
}

.op4 {
  opacity: .4;
}

.op3 {
  opacity: .3;
}

.op2 {
  opacity: .2;
}

.op1 {
  opacity: .1;
}

.op0 {
  opacity: 0;
}


/*------------------------
------------NAV-----------
------------------------*/

.hamburger {
  cursor: pointer;
  height: 40px;
  position: relative;
  width: 30px;

      &::before {
        @include hamburger;
        top: 10px;
      }

      &::after {
        @include hamburger;
        bottom: 10px;
      }

      &:hover {

          &::before {
            background-color: $grey;
            transform: translateY(5px);
          }

          &::after {
            background-color: $grey;
            transform: translateY(-5px);
          }
      }
}

.hamburgerPink {

  &::before {
    background-color: $pink;
  }

  &::after {
    background-color: $pink;
  }
}

.hamburgerClose {

    &::before {
      background-color: $grey!important;
      top: 19px;
      transform: rotate(45deg);
    }

    &::after {
      background-color: $grey!important;
      bottom: 19px;
      transform: rotate(-45deg);
    }
}

.menu {
  height: 0;
}

.closeMenu {
  cursor: pointer;
}

.navLi {
  padding-bottom: 2em;

    &:last-child {
      padding-bottom: 0;
    }
}

.siteNav:hover > li {
  opacity: .5;
  transform: translateX(10px);
}

.siteNav:hover > li:hover {
  opacity: 1;
  transform: translateX(-10px);
}

.footSoc {
  @include lineDown;
}

.footLi {
  margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }

    &:not(:last-child) {
      @include bullet;
    }

    &:hover a {
      color: $white;
    }
}

.twitterCont {
  border: 1px solid $white;
  margin: 0 auto 2em auto;
}

/*------------------------
--------FRONT-PAGE--------
------------------------*/

.imgMain {
  background-image: url("../img/main3.jpg");
  height: 80vh;
  left: 50%;
  margin-left: calc(-60vw / 2);
  margin-top: calc(-80vh / 2);
  top: 50%;
  width: 60vw;
}

.titleConLeft, .titleConRight {
  margin-top: 40vh;
}

.titleLeft {
  left: -50%;
}

.titleRight {
  right: -50%;
}

.bgText {
  font-size: 100vw;
  opacity: .1;
}

.mainButtons {
  top: calc( 100% - 5.236em );
}

.mission {
  height: 125vh;
}

.missionStatement {
  bottom: 12.5%;
  left: -100%;
}

.storyLink {
  @include arrow;
  margin-right: 18px;

    &:hover {
      color: $pink;
    }
}

.imgMission {
  background-image: url("../img/main.jpg");
  height: 90vh;
  margin-top: 2em;
  width: 70vw;
}

.serviceTitle {
  padding-top: 3em;
}

/*------------------------
--------ANIMATIONS--------
------------------------*/

.transition3 {
  transition: .3s;
}

.transition6 {
  transition: .6s;
}

.transition9 {
  transition: .9s;
}

@keyframes bgZoom {
  0% {background-size: 20vw 20vw;}
  50% {background-size: 25vw 25vw;}
  100% {background-size: 20vw 20vw;}
}
