/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@font-face {
  src: url("../fonts/junction-light.woff");
  font-family: "Junction Light"; }
/*------------------------
---------BUTTONS----------
------------------------*/
.button {
  border: 2px solid #fdfdfd;
  border-radius: 30px;
  padding: 1em;
  margin: 1em; }

.buttonClear {
  background-color: transparent; }
  .buttonClear:hover {
    background-color: #FAC6D0;
    border: 2px solid #FAC6D0;
    color: #141416; }

/*------------------------
---------IMG/ICON---------
------------------------*/
.contain {
  background-size: contain; }

.cover {
  background-size: cover; }

.nrc {
  background-position: center;
  background-repeat: no-repeat; }

.logo {
  background-image: url("../img/logo.png"); }

.logoMain {
  height: 40px;
  width: 195px; }

.icon {
  height: 20px;
  width: 20px; }

.iconSB {
  margin: 4em 1.5em; }

.fb {
  background-image: url("../img/fb.png"); }

.tw {
  background-image: url("../img/tw.png"); }

.ig {
  background-image: url("../img/ig.png"); }

.footSocLi {
  margin-right: 2em; }
  .footSocLi:last-child {
    margin-right: 0; }

/*------------------------
-------SITE-ELEMENTS------
------------------------*/
body {
  font-size: 1em;
  height: 100%;
  line-height: 1.618em;
  overflow-x: hidden;
  width: 100%; }

a {
  color: inherit;
  text-decoration: none; }

h1 {
  font-size: 4.326em; }

h2 {
  font-size: 2.618em; }

h3 {
  font-size: 1.618em; }

/*------------------------
-------FONTS--------------
------------------------*/
.font1 {
  font-size: 4.236em; }

.font2 {
  font-size: 2.618em; }

.font3 {
  font-size: 1.618em; }

.font4 {
  font-size: 1em; }

.font5 {
  font-size: .75em; }

.font6 {
  font-size: .5em; }

.fontHead {
  font-family: "Josefin Sans", sans-serif; }

.fontBody {
  font-family: "Raleway", sans-serif; }

.fontWhite {
  color: #fdfdfd; }

.fontBlack {
  color: #141416; }

.fontLtGrey {
  color: #E0DEE0; }

.fontGrey {
  color: #7A7575; }

.fontPink {
  color: #FAC6D0; }

.fontUpper {
  text-transform: uppercase; }

.fontLower {
  text-transform: lowercase; }

.bold {
  font-weight: bolder; }

.light {
  font-weight: lighter; }

.alignRight {
  text-align: right; }

.alignLeft {
  text-align: left; }

.alignCenter {
  text-align: center; }

.textBreak {
  margin-bottom: 1.618em; }

/*------------------------
------------BG-----------
------------------------*/
.bgWhite {
  background: #fdfdfd; }

.bgBlack {
  background: #141416; }

.bgLtGrey {
  background: #E0DEE0; }

.bgGrey {
  background: #7A7575; }

.bgPink {
  background: #FAC6D0; }

/*------------------------
---------OPACITY----------
------------------------*/
.op9 {
  opacity: .9; }

.op8 {
  opacity: .8; }

.op7 {
  opacity: .7; }

.op6 {
  opacity: .6; }

.op5 {
  opacity: .5; }

.op4 {
  opacity: .4; }

.op3 {
  opacity: .3; }

.op2 {
  opacity: .2; }

.op1 {
  opacity: .1; }

.op0 {
  opacity: 0; }

/*------------------------
------------NAV-----------
------------------------*/
.hamburger {
  cursor: pointer;
  height: 40px;
  position: relative;
  width: 30px; }
  .hamburger::before {
    background-color: #fdfdfd;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    transform: translateY(0);
    transition: .3s ease-in-out;
    width: 30px;
    top: 10px; }
  .hamburger::after {
    background-color: #fdfdfd;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    transform: translateY(0);
    transition: .3s ease-in-out;
    width: 30px;
    bottom: 10px; }
  .hamburger:hover::before {
    background-color: #7A7575;
    transform: translateY(5px); }
  .hamburger:hover::after {
    background-color: #7A7575;
    transform: translateY(-5px); }

.hamburgerPink::before {
  background-color: #FAC6D0; }
.hamburgerPink::after {
  background-color: #FAC6D0; }

.hamburgerClose::before {
  background-color: #7A7575 !important;
  top: 19px;
  transform: rotate(45deg); }
.hamburgerClose::after {
  background-color: #7A7575 !important;
  bottom: 19px;
  transform: rotate(-45deg); }

.menu {
  height: 0; }

.closeMenu {
  cursor: pointer; }

.navLi {
  padding-bottom: 1em; }
  .navLi:last-child {
    padding-bottom: 0; }

.siteNav:hover > li {
  opacity: .5;
  transform: translateX(10px); }

.siteNav:hover > li:hover {
  opacity: 1;
  transform: translateX(-10px); }

.footSoc::after {
  background-color: #fdfdfd;
  bottom: 0;
  content: "";
  height: 4em;
  position: absolute;
  width: 1px; }

.footLi {
  margin-right: 1em; }
  .footLi:last-child {
    margin-right: 0; }
  .footLi:not(:last-child)::after {
    background-color: #7A7575;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: .25em;
    margin-bottom: .125em;
    margin-left: 1em;
    width: .25em; }
  .footLi:hover a {
    color: #fdfdfd; }

.twitterCont {
  border: 1px solid #fdfdfd;
  margin: 0 auto 2em auto; }

/*------------------------
--------HOME-PAGE---------
------------------------*/
.imgMain {
  background-image: url("../img/main3.jpg");
  height: 80vh;
  left: 50%;
  margin-left: calc(-60vw / 2);
  margin-top: calc(-80vh / 2);
  top: 50%;
  width: 60vw; }

.titleConLeft, .titleConRight {
  margin-top: 40vh; }

.titleLeft {
  left: -50%; }

.titleRight {
  right: -50%; }

.bgText {
  font-size: 40vw;
  line-height: 40vw;
  opacity: .1;
  right: 5vw;
  top: 0; }

.mainButtons {
  top: calc( 100% - 5.236em ); }

.mission {
  height: 125vh; }

.missionStatement {
  bottom: 12.5%;
  left: -100%; }

.storyLink {
  margin-right: 18px; }
  .storyLink::before {
    bottom: 6px;
    background-color: #fdfdfd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: -15px;
    width: 9px; }
  .storyLink::after {
    border-top: 1px solid #fdfdfd;
    border-right: 1px solid #fdfdfd;
    bottom: 3px;
    content: "";
    height: 6px;
    position: absolute;
    right: -16px;
    transform: rotate(45deg);
    width: 6px; }
  .storyLink:hover {
    color: #FAC6D0; }

.imgMission {
  background-image: url("../img/Homepage.jpg");
  height: 90vh;
  margin-top: 2em;
  width: 70vw; }

.serviceTitle {
  padding-top: 2em; }

/*------------------------
--------OUR-STORY---------
------------------------*/
.belowHero {
  background-attachment: fixed;
  background-position: bottom;
  height: 32vh; }
  @media only screen and (max-width: 768px) {
    .belowHero {
      background-attachment: inherit; } }

.imgProb {
  background-image: url("../img/dark.jpg"); }

.imgInsp {
  background-image: url("../img/match.jpg"); }

.imgSol {
  background-image: url("../img/sol.jpg");
  background-position: 0% 75%; }

.imgCloud {
  background-image: url("../img/cloud.png");
  height: 5vw;
  max-height: 74px;
  max-width: 200px;
  width: 5vw; }

#cloudOne {
  left: calc(-5vw + 2em); }

.imgTree {
  background-image: url("../img/treePink.svg");
  bottom: -1px;
  height: 10vw;
  left: 4em;
  max-height: 200px;
  max-width: 200px;
  width: 10vw; }

.imgCar {
  background-image: url("../img/car.png");
  bottom: -1px;
  height: 3.705vw;
  left: calc(100% + 10vw);
  max-height: 74px;
  max-width: 200px;
  width: 10vw; }

.storyCon {
  max-width: 50vw; }

#rightBorder {
  border-right: 1px solid #E0DEE0;
  height: 0;
  left: -1px;
  width: 100%; }

#probText {
  left: calc(100% + 2em);
  transition-delay: .3s; }

#probText2 {
  left: calc(100% + 2em);
  transition-delay: .6s; }

#animTLBorder {
  border-left: 1px solid #E0DEE0;
  border-top: 1px solid #E0DEE0;
  height: 0;
  right: calc(100% - 12em + 1px);
  transition-delay: .6s;
  width: 0; }

#animBRBorder {
  border-bottom: 1px solid #E0DEE0;
  border-right: 1px solid #E0DEE0;
  height: 0;
  transition-delay: .9s;
  width: 0; }

#animTopBorder {
  border-top: 1px solid #E0DEE0;
  height: 0;
  transition-delay: 1.2s;
  width: 0; }

.animateBorder {
  height: 100% !important; }

.insp .storyConLeft {
  border: 1px solid #FAC6D0; }
.insp .storyConRight {
  border: none;
  border-left: 1px solid #FAC6D0; }

.subTitle {
  padding-top: .5em; }
  .subTitle::before {
    border-top: 1px solid #141416;
    bottom: .25em;
    content: "";
    display: block;
    height: .5em;
    position: absolute;
    width: 20px;
    left: -1.5em; }
  .subTitle::after {
    border-top: 1px solid #141416;
    bottom: .25em;
    content: "";
    display: block;
    height: .5em;
    position: absolute;
    width: 20px;
    right: -1.5em; }

.solContent {
  max-width: 100%;
  width: 700px; }

/*------------------------
--------RESOURCES---------
------------------------*/
.imgRecords {
  background-image: url("../img/records.jpg"); }

.resources {
  flex-wrap: wrap; }

.reItem {
  background-size: 125%;
  height: calc(33vw - 8em);
  min-height: 240px;
  min-width: 240px;
  max-height: 400px;
  max-width: 400px;
  width: calc(33vw - 8em); }
  @media only screen and (max-width: 768px) {
    .reItem {
      height: calc(100vw - 4em);
      width: calc(100vw - 4em); } }
  .reItem:hover {
    background-size: 100%; }
  .reItem:hover .contHov {
    opacity: 1; }

#rBrand {
  background-image: url("../img/rBrand.jpg"); }

#wk {
  background-image: url("../img/wk.jpg"); }

#ted {
  background-image: url("../img/ted.jpg"); }

#adamT {
  background-image: url("../img/aalogo.jpg"); }

#selfComp {
  background-image: url("../img/selfComp.jpg"); }

#barney {
  background-image: url("../img/barney.jpg"); }

#add101 {
  background-image: url("../img/add101.jpg"); }

.contHov {
  width: 100%; }

/*------------------------
--------ANIMATIONS--------
------------------------*/
.transition3 {
  transition: .3s; }

.transition6 {
  transition: .6s; }

.transition9 {
  transition: .9s; }

@keyframes bgZoom {
  0% {
    background-size: 20vw 20vw; }
  50% {
    background-size: 25vw 25vw; }
  100% {
    background-size: 20vw 20vw; } }
/*------------------------
----------CONTAINERS------
------------------------*/
.container {
  margin: 0 auto;
  max-width: 576px; }
  @media only screen and (max-width: 992px) {
    .container {
      max-width: 768px; } }
  @media only screen and (max-width: 1200px) {
    .container {
      max-width: 992px; } }
  @media only screen and (min-width: 1201px) {
    .container {
      max-width: 1200px; } }

.containerFluid {
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }

/*------------------------
----------CLEARFIX--------
------------------------*/
.clearfix::before {
  content: "";
  display: table;
  line-height: 0;
  clear: both; }

.clearfix::after {
  content: "";
  display: table;
  line-height: 0;
  clear: both; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.clearLeft {
  clear: left; }

.clearRight {
  clear: right; }

.clearBoth {
  clear: both; }

/*------------------------
----------DISPLAYS--------
------------------------*/
.dBlock {
  display: block; }

.dFlex {
  display: flex; }

.dGrid {
  display: grid; }

.dInBlock {
  display: inline-block; }

.dNone {
  display: none; }

.flexCenter {
  align-items: center;
  justify-content: center; }

/*------------------------
----------POSITION--------
------------------------*/
.pAbs {
  position: absolute; }

.pFix {
  position: fixed; }

.pRel {
  position: relative; }

.bottom {
  bottom: 0; }

.left {
  left: 0; }

.right {
  right: 0; }

.top {
  top: 0; }

.z1 {
  z-index: 0; }

.z2 {
  z-index: 10; }

.z3 {
  z-index: 20; }

.z4 {
  z-index: 30; }

.z5 {
  z-index: 40; }

.z6 {
  z-index: 60; }

.z7 {
  z-index: 70; }

.rotate {
  transform: rotate(90deg); }

.rotateCC {
  transform: rotate(-90deg); }

.rotate45 {
  transform: rotate(45deg); }

/*------------------------
----------SIZING----------
------------------------*/
.fullHeight {
  height: 100vh; }

.fullWidth {
  width: 100%; }

.inLink {
  height: 100%;
  width: 100%; }

.soLink {
  height: 200%;
  left: 50%;
  margin-left: calc(-200%/2);
  margin-top: calc(-200%/2);
  top: 50%;
  width: 200%; }

/*------------------------
--------PAD-MARG----------
------------------------*/
.marg1 {
  margin: 1em; }

.marg2 {
  margin: 2em; }

.marg3 {
  margin: 3em; }

.marg4 {
  margin: 4em; }

.auto {
  margin: 0 auto; }

.pad1 {
  padding: 1em; }

.pad2 {
  padding: 2em; }

.pad3 {
  padding: 3em; }

.pad4 {
  padding: 4em; }

.overHide {
  overflow: hidden; }

.overScroll {
  overflow: scroll; }

/*------------------------
----HOMEPAGE-ELEMENTS-----
------------------------*/
.headerMain {
  width: 100%; }

.homePage {
  height: 100vh;
  min-height: 100vh; }

.article {
  max-width: 45vw; }

.contService {
  min-height: 100vh; }

.serviceGrid {
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-gap: 2vw;
  grid-template-rows: 20vw 20vw;
  padding-bottom: 3em;
  width: 86vw; }

.gridImg {
  background-size: 25vw 25vw;
  transition-timing-function: linear;
  width: 0; }
  .gridImg:hover {
    background-size: 20vw 20vw; }

.gridCon p {
  min-width: calc(20vw - 2em); }

.imgTitle {
  background-color: rgba(10, 10, 10, 0.6); }

.imgTrans {
  background-image: url("../img/transThumb.jpg");
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.conTrans {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }
  .conTrans::before {
    bottom: 6px;
    background-color: #fdfdfd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: -15px;
    width: 9px; }
  .conTrans::after {
    border-top: 1px solid #fdfdfd;
    border-right: 1px solid #fdfdfd;
    bottom: 3px;
    content: "";
    height: 6px;
    position: absolute;
    right: -16px;
    transform: rotate(45deg);
    width: 6px; }
  .conTrans::before {
    right: calc(50% - 1px);
    top: 5px;
    transform: rotate(-90deg); }
  .conTrans::after {
    right: 50%;
    top: 0;
    transform: rotate(-45deg); }

.imgCGR {
  background-image: url("../img/cgrThumb.jpg");
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  transition-delay: .4s; }

.conCGR {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  transition-delay: .4s; }
  .conCGR::before {
    bottom: 6px;
    background-color: #fdfdfd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: -15px;
    width: 9px; }
  .conCGR::after {
    border-top: 1px solid #fdfdfd;
    border-right: 1px solid #fdfdfd;
    bottom: 3px;
    content: "";
    height: 6px;
    position: absolute;
    right: -16px;
    transform: rotate(45deg);
    width: 6px; }
  .conCGR::before {
    right: calc(50% - 1px);
    top: 5px;
    transform: rotate(-90deg); }
  .conCGR::after {
    right: 50%;
    top: 0;
    transform: rotate(-45deg); }
  .conCGR::before {
    bottom: 5px;
    top: inherit;
    transform: rotate(90deg); }
  .conCGR::after {
    bottom: 0;
    top: inherit;
    transform: rotate(135deg); }

.imgComp {
  background-image: url("../img/compass.png");
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  transition-delay: .8s; }

.conComp {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  transition-delay: .8s; }
  .conComp::before {
    bottom: 6px;
    background-color: #fdfdfd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: -15px;
    width: 9px; }
  .conComp::after {
    border-top: 1px solid #fdfdfd;
    border-right: 1px solid #fdfdfd;
    bottom: 3px;
    content: "";
    height: 6px;
    position: absolute;
    right: -16px;
    transform: rotate(45deg);
    width: 6px; }
  .conComp::before {
    right: calc(50% - 1px);
    top: 5px;
    transform: rotate(-90deg); }
  .conComp::after {
    right: 50%;
    top: 0;
    transform: rotate(-45deg); }

.imgComm {
  background-image: url("../img/tolhurst.jpg");
  background-position: top center;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  transition-delay: 1.2s; }

.conComm {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  transition-delay: 1.2s; }
  .conComm::before {
    bottom: 6px;
    background-color: #fdfdfd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: -15px;
    width: 9px; }
  .conComm::after {
    border-top: 1px solid #fdfdfd;
    border-right: 1px solid #fdfdfd;
    bottom: 3px;
    content: "";
    height: 6px;
    position: absolute;
    right: -16px;
    transform: rotate(45deg);
    width: 6px; }
  .conComm::before {
    right: calc(50% - 1px);
    top: 5px;
    transform: rotate(-90deg); }
  .conComm::after {
    right: 50%;
    top: 0;
    transform: rotate(-45deg); }
  .conComm::before {
    bottom: 5px;
    top: inherit;
    transform: rotate(90deg); }
  .conComm::after {
    bottom: 0;
    top: inherit;
    transform: rotate(135deg); }

.gridImg p {
  transition-delay: 1.6s; }

.instaCon {
  overflow: hidden; }

#instafeed img {
  height: 10vw;
  max-height: 612px;
  max-width: 612px;
  vertical-align: middle;
  width: 10vw; }

/*------------------------
------OUR-STORY-EL--------
------------------------*/
.heroStory {
  min-height: 60vh; }

.artStory {
  max-width: 80vw; }

/*------------------------
------CONTACT-EL---------
------------------------*/
.heroContact {
  min-height: 100vh; }

#bgGrad {
  background: linear-gradient(90deg, #FAC6D0 0%, #fdfdfd 50%);
  background-position: 100% 0%;
  background-size: 200%;
  height: 100%; }

#contactWrapper {
  height: 100%; }

.contactBtn {
  border: 1px solid #FAC6D0;
  border-radius: 30px;
  cursor: pointer; }
  .contactBtn:hover {
    background-color: #FAC6D0;
    border: 1px solid #FAC6D0;
    color: #fdfdfd; }

.contactOption {
  flex-direction: column;
  height: 300px;
  width: 400px; }
  .contactOption:first-child {
    border-right: 1px solid #FAC6D0; }

#emDiv {
  width: 400px; }

#quDiv {
  height: 400px;
  width: 400px; }

#quType {
  height: 100%; }

#typeTitle {
  margin-top: -2em; }

.optionType {
  cursor: pointer;
  height: calc(50% - 1em);
  margin: .5em;
  width: calc(50% - 1em); }
  .optionType:hover {
    background-color: #FAC6D0; }
  .optionType:hover p {
    color: #fdfdfd; }

.activeOption {
  background-color: #FAC6D0;
  box-shadow: inset 0 0 10px rgba(10, 10, 10, 0.2); }
  .activeOption p {
    color: #fdfdfd; }

#backArrow {
  border-bottom: 1px solid #FAC6D0;
  border-left: 1px solid #FAC6D0;
  cursor: pointer;
  height: 20px;
  left: -20px;
  top: 190px;
  transform: rotate(45deg);
  width: 20px; }
  #backArrow:hover {
    border-bottom: 1px solid #7A7575;
    border-left: 1px solid #7A7575; }

#quName {
  height: 100%; }

#servNote {
  flex-direction: column;
  height: 100%; }

#noteClose {
  cursor: pointer; }

/*------------------------
-------RESPONSIVE---------
------------------------*/
@media only screen and (max-width: 768px) {
  .headerMain .logoMain {
    margin: 1em; }
  .headerMain .hamburger {
    margin: 1em; }
    .headerMain .hamburger::before {
      background-color: #fdfdfd; }
    .headerMain .hamburger::after {
      background-color: #fdfdfd; }
    .headerMain .hamburger:hover::before {
      background-color: #fdfdfd;
      transform: translateY(0px); }
    .headerMain .hamburger:hover::after {
      background-color: #fdfdfd;
      transform: translateY(0px); }
  .headerMain .hamburgerClose:hover::before {
    transform: rotate(45deg); }
  .headerMain .hamburgerClose:hover::after {
    transform: rotate(-45deg); } }

@media only screen and (max-width: 768px) {
  .siteNav {
    margin: 0 auto;
    margin-bottom: 2em;
    text-align: center; }
    .siteNav:hover > li {
      opacity: 1;
      transform: translateX(0px); }
    .siteNav:hover > li:hover {
      opacity: 1;
      transform: translateX(0px); } }

@media only screen and (max-width: 768px) {
  .bgText {
    display: none; } }

@media only screen and (max-width: 768px) {
  .homePage {
    height: 100%; } }

@media only screen and (max-width: 768px) {
  .imgMain {
    flex-direction: column;
    height: 100%;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    transform: translateY(0) !important;
    width: 100%; }
    .imgMain .mainButtons {
      margin-top: 2.618em;
      top: inherit; }
      .imgMain .mainButtons a {
        background-color: #FAC6D0;
        border: 2px solid #FAC6D0;
        color: #141416; }
    .imgMain .titleConLeft {
      left: inherit;
      margin-top: 50vh;
      position: static; }
      .imgMain .titleConLeft p {
        left: inherit;
        position: static; }
    .imgMain .titleConRight {
      margin-top: 1.5em;
      position: static;
      right: inherit; }
      .imgMain .titleConRight p {
        position: static;
        right: inherit; } }

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none; } }

@media only screen and (max-width: 768px) {
  .mission {
    display: block;
    height: auto; }
    .mission .imgMission {
      display: none; }
    .mission .missionStatement {
      background-color: #7A7575;
      bottom: inherit;
      left: 0;
      max-width: 100%;
      position: static;
      text-align: center;
      width: 100%; } }

@media only screen and (max-width: 768px) {
  .serviceGrid {
    grid-template-columns: 80vw;
    grid-gap: 2vw;
    grid-template-rows: 40vw 40vw 40vw 40vw;
    padding-bottom: 3em;
    width: 80vw; }
    .serviceGrid .gridCon {
      display: none; }
    .serviceGrid .gridImg {
      background-size: 80vw 80vw;
      grid-column: 1 / 2;
      width: 100%; }
    .serviceGrid .imgTrans {
      grid-row: 3 / 4; }
    .serviceGrid .imgCGR {
      background-position: top center;
      grid-row: 2 / 3; }
    .serviceGrid .imgMeet {
      grid-row: 3 / 4; }
    .serviceGrid .imgComm {
      grid-row: 4 / 5; }
    .serviceGrid .imgTitle {
      opacity: 1; } }

@media only screen and (max-width: 768px) {
  .footerNav {
    padding-left: 1em;
    padding-right: 1em; }
    .footerNav .footSoc {
      padding-left: 0;
      padding-right: 0; } }

/*# sourceMappingURL=style.css.map */
