
/*------------------------
---------BUTTONS----------
------------------------*/

.button {
  border: 2px solid $white;
  border-radius: 30px;
  padding: 1em;
  margin: 1em;
}

.buttonClear {
  background-color: transparent;

    &:hover {
      background-color: $pink;
      border: 2px solid $pink;
      color: $black;
    }
}

/*------------------------
---------IMG/ICON---------
------------------------*/

.contain {
  background-size: contain;
}

.cover {
  background-size: cover;
}

.nrc {
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  background-image: url("../img/logo.png");
}

.logoMain {
  height: 40px;
  width: 195px;
}

.icon {
  height: 20px;
  width: 20px;
}

.iconSB {
  margin: 4em 1.5em;
}

.fb {
  background-image: url("../img/fb.png");
}

.tw {
  background-image: url("../img/tw.png");
}

.ig {
  background-image: url("../img/ig.png");
}

.footSocLi {
  margin-right: 2em;

    &:last-child {
      margin-right: 0;
    }
}

/*------------------------
-------SITE-ELEMENTS------
------------------------*/

body {
  font-size: 1em;
  height: 100%;
  line-height: 1.618em;
  overflow-x: hidden;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 4.326em;
}

h2 {
  font-size: 2.618em;
}

h3 {
  font-size: 1.618em;
}


/*------------------------
-------FONTS--------------
------------------------*/

.font1 {
  font-size: 4.236em;
}

.font2 {
  font-size: 2.618em;
}

.font3 {
  font-size: 1.618em;
}

.font4 {
  font-size: 1em;
}

.font5 {
  font-size: .75em;
}

.font6 {
  font-size: .5em;
}

.fontHead {
  font-family: $header;
}

.fontBody {
  font-family: $body;
}

.fontWhite {
  color: $white;
}

.fontBlack {
  color: $black;
}

.fontLtGrey {
  color: $ltGrey;
}

.fontGrey {
  color: $grey;
}

.fontPink {
  color: $pink;
}

.fontUpper {
  text-transform: uppercase;
}

.fontLower {
  text-transform: lowercase;
}

.bold {
  font-weight: bolder;
}

.light {
  font-weight: lighter;
}

.alignRight {
  text-align: right;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.textBreak {
  margin-bottom: 1.618em;
}

/*------------------------
------------BG-----------
------------------------*/

.bgWhite {
  background: $white;
}

.bgBlack {
  background: $black;
}

.bgLtGrey {
  background: $ltGrey;
}

.bgGrey {
  background: $grey;
}

.bgPink {
  background: $pink;
}

/*------------------------
---------OPACITY----------
------------------------*/

.op9 {
  opacity: .9;
}

.op8 {
  opacity: .8;
}

.op7 {
  opacity: .7;
}

.op6 {
  opacity: .6;
}

.op5 {
  opacity: .5;
}

.op4 {
  opacity: .4;
}

.op3 {
  opacity: .3;
}

.op2 {
  opacity: .2;
}

.op1 {
  opacity: .1;
}

.op0 {
  opacity: 0;
}


/*------------------------
------------NAV-----------
------------------------*/

.hamburger {
  cursor: pointer;
  height: 40px;
  position: relative;
  width: 30px;

      &::before {
        @include hamburger;
        top: 10px;
      }

      &::after {
        @include hamburger;
        bottom: 10px;
      }

      &:hover {

          &::before {
            background-color: $grey;
            transform: translateY(5px);
          }

          &::after {
            background-color: $grey;
            transform: translateY(-5px);
          }
      }
}

.hamburgerPink {

  &::before {
    background-color: $pink;
  }

  &::after {
    background-color: $pink;
  }
}

.hamburgerClose {

    &::before {
      background-color: $grey!important;
      top: 19px;
      transform: rotate(45deg);
    }

    &::after {
      background-color: $grey!important;
      bottom: 19px;
      transform: rotate(-45deg);
    }
}

.menu {
  height: 0;
}

.closeMenu {
  cursor: pointer;
}

.navLi {
  padding-bottom: 1em;

    &:last-child {
      padding-bottom: 0;
    }
}

.siteNav:hover > li {
  opacity: .5;
  transform: translateX(10px);
}

.siteNav:hover > li:hover {
  opacity: 1;
  transform: translateX(-10px);
}

.footSoc {
  @include lineDown;
}

.footLi {
  margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }

    &:not(:last-child) {
      @include bullet;
    }

    &:hover a {
      color: $white;
    }
}

.twitterCont {
  border: 1px solid $white;
  margin: 0 auto 2em auto;
}

/*------------------------
--------HOME-PAGE---------
------------------------*/

.imgMain {
  background-image: url("../img/main3.jpg");
  height: 80vh;
  left: 50%;
  margin-left: calc(-60vw / 2);
  margin-top: calc(-80vh / 2);
  top: 50%;
  width: 60vw;
}

.titleConLeft, .titleConRight {
  margin-top: 40vh;
}

.titleLeft {
  left: -50%;
}

.titleRight {
  right: -50%;
}

.bgText {
  font-size: 40vw;
  line-height: 40vw;
  opacity: .1;
  right: 5vw;
  top: 0;
}

.mainButtons {
  top: calc( 100% - 5.236em );
}

.mission {
  height: 125vh;
}

.missionStatement {
  bottom: 12.5%;
  left: -100%;
}

.storyLink {
  @include arrow;
  margin-right: 18px;

    &:hover {
      color: $pink;
    }
}

.imgMission {
  background-image: url("../img/Homepage.jpg");
  height: 90vh;
  margin-top: 2em;
  width: 70vw;
}

.serviceTitle {
  padding-top: 2em;
}

/*------------------------
--------OUR-STORY---------
------------------------*/

.belowHero {
  background-attachment: fixed;
  background-position: bottom;
  height: 32vh;

    @include responsive(small-screen) {
      background-attachment: inherit;
    }
}

.imgProb {
  background-image: url("../img/dark.jpg");
}

.imgInsp {
  background-image: url("../img/match.jpg");
}

.imgSol {
  background-image: url("../img/sol.jpg");
  background-position: 0% 75%;
}

.imgCloud {
  background-image: url("../img/cloud.png");
  height: 5vw;
  max-height: 74px;
  max-width: 200px;
  width: 5vw;
}

#cloudOne {
  left: calc(-5vw + 2em);
}

.imgTree {
  background-image: url("../img/treePink.svg");
  bottom: -1px;
  height: 10vw;
  left: 4em;
  max-height: 200px;
  max-width: 200px;
  width: 10vw;
}

.imgCar {
  background-image: url("../img/car.png");
  bottom: -1px;
  height: 3.705vw;
  left: calc(100% + 10vw);
  max-height: 74px;
  max-width: 200px;
  width: 10vw;
}

.storyCon {
  max-width: 50vw;
}

#rightBorder {
  border-right: 1px solid $pink;
  height: 0;
  left: -1px;
  width: 100%;
}

#probText {
  left: calc(100% + 2em);
  transition-delay: .3s;
}

#probText2 {
  left: calc(100% + 2em);
  transition-delay: .6s;
}

#animTLBorder {
  border-left: 1px solid $pink;
  border-top: 1px solid $pink;
  height: 0;
  right: calc(100% - 12em + 1px);
  transition-delay: .6s;
  width: 0;
}

#animBRBorder {
  border-bottom: 1px solid $pink;
  border-right: 1px solid $pink;
  height: 0;
  transition-delay: .9s;
  width: 0;
}

#animTopBorder {
  border-top: 1px solid $pink;
  height: 0;
  transition-delay: 1.2s;
  width: 0;
}

.animateBorder {
  height: 100%!important;
}

.storyConRight {
//border: 1px solid $ltGrey;
}

.insp {

    .storyConLeft {
      border: 1px solid $pink;
    }

    .storyConRight {
      border: none;
      border-left: 1px solid $pink;
    }
}

.subTitle {
  padding-top: .5em;

    &::before {

      @include sideLine;
      left: -1.5em;
    }

    &::after {

      @include sideLine;
      right: -1.5em;
    }
}

.solContent {
  max-width: 100%;
  width: 700px;
}

/*------------------------
--------RESOURCES---------
------------------------*/

.imgRecords {
  background-image: url("../img/records.jpg");
}

.resources {
  flex-wrap: wrap;
}

.reItem {
  background-size: 125%;
  height: calc(33vw - 8em);
  min-height: 240px;
  min-width: 240px;
  max-height: 400px;
  max-width: 400px;
  width: calc(33vw - 8em);

    @include responsive(small-screen) {
      height: calc(100vw - 4em);
      width: calc(100vw - 4em);
    }

    &:hover {
      background-size: 100%;
    }

    &:hover .contHov {
      opacity: 1;
    }
}

#rBrand {
  background-image: url("../img/rBrand.jpg");
}

#wk {
  background-image: url("../img/wk.jpg");
}

#ted {
  background-image: url("../img/ted.jpg");
}

#adamT {
  background-image: url("../img/aalogo.jpg");
}

#selfComp {
  background-image: url("../img/selfComp.jpg");
}

#barney {
  background-image: url("../img/barney.jpg");
}

#add101 {
  background-image: url("../img/add101.jpg");
}

#sims {
  background-image: url("../img/sims.jpg");
}

#diss {
  background-image: url("../img/diss.png");
}

.contHov {
  width: 100%;
}

/*------------------------
--------ANIMATIONS--------
------------------------*/

.transition3 {
  transition: .3s;
}

.transition6 {
  transition: .6s;
}

.transition9 {
  transition: .9s;
}

@keyframes bgZoom {
  0% {background-size: 20vw 20vw;}
  50% {background-size: 25vw 25vw;}
  100% {background-size: 20vw 20vw;}
}
