@import 'reset.scss';
@import 'responsive.scss';
@import 'mixinVariable.scss';
@import 'content.scss';
@import 'structure.scss';

html {
  font-size: 1em;

    @include responsive(xl-screen) {
      font-size: 1.25em;
    }
}

/*------------------------
-------RESPONSIVE---------
------------------------*/

//HOME PAGE

.headerMain {

  @include responsive(small-screen) {

      .logoMain {
        margin: 1em;
      }

      .hamburger {
        margin: 1em;

        &::before {
          background-color: $white;
        }

        &::after {
          background-color: $white;
        }

        &:hover {

            &::before {
              background-color: $white;
              transform: translateY(0px);
            }

            &::after {
              background-color: $white;
              transform: translateY(0px);
            }
        }
      }

      .hamburgerClose {

          &:hover {

              &::before {
                transform: rotate(45deg);
              }

              &::after {
                transform: rotate(-45deg);
              }
          }
      }
  }
}

.siteNav {

    @include responsive(small-screen) {
      margin: 0 auto;
      margin-bottom: 2em;
      text-align: center;

          &:hover > li {
            opacity: 1;
            transform: translateX(0px);
          }

          &:hover > li:hover {
            opacity: 1;
            transform: translateX(0px);
          }
    }
}

.bgText {

    @include responsive(small-screen) {
      display: none;
    }
}

.homePage {

    @include responsive(small-screen) {
      height: 100%;
    }
}

.imgMain {

    @include responsive(small-screen) {
      flex-direction: column;
      height: 100%;
      left: 0;
      margin-left: 0;
      margin-top: 0;
      position: absolute;
      top: 0;
      transform: translateY(0)!important;
      width: 100%;

        .mainButtons {
          margin-top: 2.618em;
          top: inherit;

            a {
              background-color: $pink;
              border: 2px solid $pink;
              color: $black;
            }
        }

        .titleConLeft {
          left: inherit;
          margin-top: 50vh;
          position: static;

            p {
              left: inherit;
              position: static;
            }
        }

        .titleConRight {
          margin-top: 1.5em;
          position: static;
          right: inherit;

            p {
              position: static;
              right: inherit;
            }
        }
    }
}

.sidebar {

    @include responsive(small-screen) {
      display: none;
    }
}

.mission {

    @include responsive(small-screen) {
      display: block;
      height: auto;

        .imgMission {
          display: none;
        }

        .missionStatement {
          background-color: $grey;
          bottom: inherit;
          left: 0;
          max-width: 100%;
          position: static;
          text-align: center;
          width: 100%;
        }
    }
}

.serviceGrid {

    @include responsive(small-screen) {
      grid-template-columns: 80vw;
      grid-gap: 2vw;
      grid-template-rows: 40vw 40vw 40vw 40vw;
      padding-bottom: 3em;
      width: 80vw;

        .gridGrp {
          height: 50vw;
          width: 25vw;
        }

        .gridCon {
          display: none;
        }

        .gridImg {
          background-size: 80vw 80vw;
          grid-column: 1 / 2;
          width: 100%;
        }

        .imgTrans {
          grid-row: 3 / 4;
        }

        .imgCGR {
          background-position: top center;
          grid-row: 2 / 3;
        }

        .imgMeet {
          grid-row: 3 / 4;
        }

        .imgComm {
          grid-row: 4 / 5;
        }

        .imgTitle {
          opacity: 1;
        }
    }
}

.footerNav {

    @include responsive(small-screen) {
      padding-left: 1em;
      padding-right: 1em;

        .footSoc {
          padding-left: 0;
          padding-right: 0;
        }
    }
}

#instafeed img {

    @include responsive(small-screen) {
      height: 25vw;
      width: 25vw;
    }
}

//OUR STORY

#problem article, #insp article {

    @include responsive(small-screen) {
      padding: 0;
    }
}

.storyCon {

  @include responsive(small-screen) {
    border: none!important;
    float: none;
    max-width: 100%;
    text-align: center;
  }
}

#probText {

  @include responsive(small-screen) {
    margin-bottom: 2em;
  }
}

#probText, #probText2 {

  @include responsive(small-screen) {
    left: auto;
  }
}

.imgCloud, .imgTree, .imgCar {

  @include responsive(small-screen) {
    display: none;
  }
}

.solContent, .dearDiv {

  @include responsive(small-screen) {
    padding: 1em;
  }
}

.dearDiv h2 {

  @include responsive(small-screen) {
    font-size: 1.618em;
  }
}

.subTitle {

  @include responsive(small-screen) {

    &::before, &::after {
      display: none;
    }
  }
}

//CONTACT

.contactOption {
  min-height: 50vh;
}

#quName, #quMsg {

    @include responsive(small-screen) {
      margin-top: 0;
    }
}
